Assistant/Assistant/Connected Services/Services/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Budget" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserServiceModel" nillable="true" type="tns:UserServiceModel" />
</xs:schema>